<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--vue对象的html模板-->
<div id="app">
    <input type="checkbox" value="ios" v-model="language">ios
    <input type="checkbox" value="java" v-model="language">java
    <input type="checkbox" value="php" v-model="language">php
    您选择了：{{language}}
    <hr>
    <!--双向绑定，v-model:数据模型-->
    <input type="text" v-model="num">
    <!-- v-on:事件名=js表达式-->
   <!-- <input type="button" value="点我" v-on:click="incr">-->
    <button v-on:click="add">点我</button>
    <!-- 花括号:js表达式-->
    <h2>大家好，我是<span v-text="name">张学友</span>，有{{sum()}}位妹子</h2>
</div>
</body>
<script src="node_modules/vue/dist/vue.js" ></script>
<script>
    // 创建vue实例
    var app = new Vue({
        el:"#app", // el即element，该vue实例要渲染的页面元素
        data:{ // 渲染页面需要的数据
            name: "飞哥",
            num: 5,
            language:[]
        },
        methods:{
            add(){
                console.log(this);
                this.num++;
            },
            sum(){
                return this.num + 100;
            },
            created(){
                return this.num = 100;
            }
        }
    });

</script>
</html>